<div class="panel-body">
    <div class="row">
        <div class="col-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Dolgozó kereső</span>
                </div>
                <form class="panel-body" (ngSubmit)="onSearch()">
                    <div class="row mt-2 ">
                        <div class="col-6">
                            <label class="mb-2 form-control-label" for="filterVezetekNev">Vezetéknév</label>
                            <input type="text" [(ngModel)]="dolgozo.vezetekNev"
                                   class="form-control"
                                   id="filterVezetekNev" name="filterVezetekNev"
                                   placeholder="Vezetéknév">
                        </div>
                        <div class="col-6">
                            <label class="mb-2 form-control-label" for="filterKeresztNev">Keresztnév</label>
                            <input type="text" [(ngModel)]="dolgozo.keresztkNev"
                                   class="form-control"
                                   id="filterKeresztNev" name="filterKeresztNev"
                                   placeholder="Keresztnév">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label class="form-control-label"> Telephely</label>
                            <ng-select
                                [items]="telephelyek"
                                bindLabel="nev"
                                name="telephelyek"
                                [multiple]="false"
                                (change) = "telepulesChange()"
                                [closeOnSelect]="true"
                                [hideSelected]="true"
                                [(ngModel)]="dolgozo.telephely">
                            </ng-select>
                        </div>
                        <div class="col-6">
                            <label class="form-control-label"> Beosztás</label>
                            <ng-select
                                [items]="beosztasok"
                                bindLabel="beosztasNev"
                                name="beosztasok"
                                [multiple]="false"
                                (change) = "beosztasChange()"
                                [closeOnSelect]="true"
                                [hideSelected]="true"
                                [(ngModel)]="dolgozo.beosztas">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="form-control-label col-lg-12">Munkaviszony kezdete</label>
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <input class="form-control" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                   [ngModelOptions]="{standalone: true}" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
                        </div>
                        <div class="col-xs-12 col-12 col-md-3 form-group">
                            <button class="btn btn-success" (click)="drp.toggle()" [attr.aria-expanded]="drp.isOpen">Date Range Picker</button>
                        </div>
                    </div>

                    <div class="row mt-4 align-items-end">
                        <div class="col-4">
                            <button type="reset" class="btn" (click)="clearSearch()">
                                <span>Keresési feltételek törlése</span>
                            </button>
                        </div>
                        <div class="col-8 text-right">
                            <button type="submit" class="btn btn-primary">
                                <span>Keresés</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <button type="button" class="btn btn-primary" [routerLink]="['/', { outlets: { popup: 'dolgozo/edit'} }]">Új dolgozó felvétele
        </button>
    </div>
</div>

<jhi-table-builder #table [columns]="columns" [url]="'dolgozo'" [eventName]="'dolgozoList-modification'" [queryParams]="queryParams"></jhi-table-builder>

