<div class="row">
    <button type="button" class="btn btn-primary" (click)="openConfirmDialog()">Új székhely</button>
</div>

<div class="table-wrapper">
            <ngx-datatable class="material"
                           [rows]="telephelyList"
                           [columnMode]="'force'"
                           [rowHeight]="auto"
                           [limit]="20"
                           [headerHeight]="50"
                           [footerHeight]="50"
                           [columns]="columns">
                <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
                    <a class="cursor-pointer"
                       (click)="onEdit(row)">
                        <span class="fa fa-edit fa-2x "></span>
                    </a>
                    <a class="cursor-pointer"
                       [routerLink]="['/', { outlets: { popup: 'telephely/'+ row.id + '/delete'} }]">
                        <span class="fa fa-trash fa-2x "></span>
                    </a>
                </ng-template>
            </ngx-datatable>
</div>

