<div class="row">
    <button type="button" class="btn btn-primary" (click)="openConfirmDialog()">Új székhely</button>
</div>

<div class="table-wrapper">
            <ngx-datatable class="material"
                           [rows]="telephelyList"
                           [selectionType]="'single'"
                           [columnMode]="'force'"
                           [selected]="selected"
                            (select)="onSelect($event)"
                           [rowHeight]="auto"
                           [limit]="20"
                           (activate)="onActivate($event)"
                           [columns]="columns">
            </ngx-datatable>
</div>
    <button type="button" class="btn btn-primary" (click)="onEdit()">Új székhely</button>
