
<div class="panel-body">
    <div class="row">
        <div class="col-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Engedély kereső</span>
                </div>
                <form class="panel-body" (ngSubmit)="onSearch()">
                    <div class="row">
                        <div class="col-6">
                            <label class="mb-0 form-control-label" for="filterNev">Ügyfél
                                név</label>
                            <input type="text" [(ngModel)]="telephely.nev"
                                   class="form-control"
                                   id="filterNev" name="filterNev"
                                   placeholder="Ügyfél név">
                        </div>
                    </div>

                    <div class="row mt-4 align-items-end">
                        <div class="col-4">
                            <button type="reset" class="btn" (click)="clearSearch()">
                                    <span>Keresési feltételek törlése</span>
                            </button>
                        </div>
                        <div class="col-8 text-right">
                            <button type="submit" class="btn btn-primary">
                                <span>Keresés</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <button type="button" class="btn btn-primary" [routerLink]="['/', { outlets: { popup: 'telephely/edit'} }]">Új székhely</button>
</div>

<jhi-table-builder [columns]="columns" [url]="'telephely'"></jhi-table-builder>

