/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* Checkbox, radio button validation fix */

input[type='radio'],
input[type='checkbox'] {
    &.ng-valid[required],
    .ng-valid.required {
        outline: 2px solid green;
    }
    &.ng-invalid[required],
    .ng-invalid.required {
        outline: 2px solid red;
    }
}

/* other generic styles */

.jh-card {
    padding: 1.5%;
    margin-top: 16px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.panel {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 1.3em;
}

.panel-body {
    padding: 15px;
}

ngb-datepicker-navigation-select {
    min-width: 11rem;
}

.input-group {
    &.datepicker-right {
        ngb-datepicker {
            left: inherit !important;
            right: 0px;
        }
    }
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 2px;
}

.territory-table-responsive {
    max-height: 250px;
}

.tablecontainer {
    tr.active td,
    div.active {
        background-color: #204058 !important;
        color: white;
        span:not(.fa) {
            color: white;
        }
        .ng-select span {
            color: black;
        }
    }
}

.pull-bottom {
    position: absolute;
    bottom: 0;
}
.supervisor-panel {
    max-height: 100px;
    overflow: auto;
}

.soil-protection-table-responsive {
    max-height: 250px;
}

.soil-protection-active-div.active span:not(.fa) {
    color: white;
}

/* ==========================================================================
Eonasdan Bootstrap datepicker
========================================================================== */

.collapse.in {
    display: block;
}

/* ==========================================================================
Angular2-dropdown-multiselect
========================================================================== */

ss-multiselect-dropdown {
    .dropdown-item.active,
    .dropdown-item:active {
        background-color: inherit;
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* ==========================================================================
KOTTA kereso fixed cols
========================================================================== */

.table-scroll {
    z-index: 1;
    width: 100%;
    margin: auto;
    overflow: scroll;
    max-height: 700px;
    border-radius: 4px;
}
.table-scroll table {
    width: 100%;
    min-width: 1280px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
}
.table-wrap {
    position: relative;
}
.table-scroll th,
.table-scroll td {
    vertical-align: top;
}
.fixed-cell-width td {
    min-width: 270px;
}
.table-scroll th {
    background: #f3f4f8;
    z-index: 1000;
}
.table-scroll thead th {
    background: #f3f4f8;
    color: #204058;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.table-scroll thead th.secondRow {
    background: #f3f4f8;
    color: #204058;
    position: -webkit-sticky;
    position: sticky;
    top: var(--height);
}

/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    color: #fff;
    z-index: 4;
}

.table-scroll.sticky-left th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
}
thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}

//   .table-scroll {
//     position: relative;
//     min-width: 980px; /* just for testing fixed left column*/
//     z-index: 1;
//     margin: auto;
//     overflow: scroll;
//     max-height: 700px;
//     border-radius: 4px;
//     height: 100%;
//     width: 100%;
//   }
//   .table-scroll table {
//     width: 100%;
//     min-width: 1280px;
//     margin: auto;
//     border-collapse: separate;
//     border-spacing: 0;
//   }
//   .table-wrap {
//     position: relative;
//   }
//   .table-scroll th,
//   .table-scroll td {
//     vertical-align: top;
//   }
//   .table-scroll th {
//       background: #f3f4f8;
//       z-index: 5;
//   }
//   .table-scroll thead th {
//     background: #f3f4f8;
//     color: #204058;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 0;
//   }
//   /* safari and ios need the tfoot itself to be position:sticky also */
//   .table-scroll tfoot,
//   .table-scroll tfoot th,
//   .table-scroll tfoot td {
//     position: -webkit-sticky;
//     position: sticky;
//     bottom: 0;
//     background: #666;
//     color: #fff;
//     z-index:4;
//   }

//   th:first-child {
//     position: -webkit-sticky;
//     position: sticky;
//     left: 0;
//     z-index: 2;
//     background: #ccc;
//   }
//   thead th:first-child,
//   tfoot th:first-child {
//     z-index: 5;
//   }

.strip {
    background-color: #f3f4f8;
}

.ng-select.ng-single .ng-control {
    height: 30px !important;
}

.ng-select .ng-control {
    min-height: 30px !important;
}

strong {
    font-weight: bold !important;
}

strong.required:after,
th.required:after,
label.required:after,
span.required:after,
input.required:after,
p.required:after {
    content: '*';
    color: red;
}

th.required,
label.required,
span.required,
p.required {
    font-weight: bold;
}

ng-select.form-control {
    padding: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
}

.table-col-xs {
    min-width: 85px;
    max-width: 100px;
}

.table-col-sm {
    min-width: 180px;
    max-width: 200px;
}

.table-col-md {
    min-width: 300px;
    max-width: 320px;
}

.table-col-lg {
    min-width: 400px;
    max-width: 420px;
}

.table-col-border-left {
    border-left: 1px solid #adb5bd !important;
}

.ng-dropdown-panel {
    left: 0%;
}

$color: rgb(40, 40, 40); // #282828
$background-color: rgb(255, 255, 255); // #ffffff
$shadow-color: rgb(0, 0, 0); // #000000
$button-color: rgb(255, 255, 255); // #ffffff

$color-link: #2a67ba;

$color-breadcrumb: #2a67ba;
$color-breadcrumb-active: #666666;

$header-color: #2a67ba;
$header-hamb-color: #282828;
$header-sec-menu-color: #00417c;
$header-red: #e23c2e;

$color-primary: #2a67ba;
$color-primary-light: #8ecee2; //
$color-primary-lighter: #d9eaf8;
$color-primary-pale: #b1cdeb;
$color-primary-hover: #2a93f2;
$color-primary-active: #3aaec9;

$color-secondary: #f7b32b;
$color-secondary-light: #fede9b; //
$color-secondary-lighter: #ffebc2;
$color-secondary-pale: #fff7e8;

$color-tertiary: #008212;
$color-tertiary-light: #a3d08b; //
$color-tertiary-lighter: #c1e8b2;
$color-tertiary-pale: #eaf4e4;

$color-quaternary: #a81300;
$color-quaternary-light: rgb(255, 171, 158); //
$color-quaternary-lighter: #ffab9e;
$color-quaternary-pale: #fff3f5;

$color-gray-dark: #666666;
$color-gray: #818181;
$color-gray-light: #cdcecf;
$color-gray-lighter: #ededed;
$color-gray-pale: #f8f8f9;
$color-gray-ultra-light: #f2f2f2;

$color-gray-dark: #4b4b4b; // Sidebar

$color-info: $color-primary;
$color-info-light: $color-primary-light;
$color-info-lighter: $color-primary-lighter;
$color-info-pale: $color-primary-pale;

$color-warning: $color-secondary;
$color-warning-light: $color-secondary-light;
$color-warning-lighter: $color-secondary-lighter;
$color-warning-pale: $color-secondary-pale;

$color-success: $color-tertiary;
$color-success-light: $color-tertiary-light;
$color-success-lighter: $color-tertiary-lighter;
$color-success-pale: $color-tertiary-pale;

$color-danger: $color-quaternary;
$color-danger-light: $color-quaternary-light;
